{namespace bu = TYPO3\CMS\Beuser\ViewHelpers}
{namespace nci = Visol\Newscatinvite\ViewHelpers}

<f:layout name="Module" />

<f:section name="Content">
  <f:be.pageRenderer includeCssFiles="{0: '{f:uri.resource(path: \'Stylesheets/backend.css\')}'}" includeJavaScriptModules="{0: '@typo3/backend/context-menu.js'}" />
	<f:flashMessages />

	<h1>{f:translate(key: 'submoduleCreatedInvitationsTitle')}</h1>

  <table class="table table-striped table-hover">
		<thead>
      <tr>
        <th>&nbsp;</th>
        <th>
          {f:translate(key: 'tableNewsTitle')}
        </th>
        <th>
          {f:translate(key: 'tableInvitationTitle')}
        </th>
      </tr>
    </thead>
    <tbody>
      <f:groupedFor each="{invitations}" as="invitationsByNews" groupBy="news" groupKey="news">
        <tr>
        <f:for each="{invitationsByNews}" as="invitation" iteration="iterator">
          <f:if condition="{iterator.isFirst}">
            <td>
              <a href="#" data-contextmenu-trigger="click" data-contextmenu-table="tx_news_domain_model_news" data-contextmenu-uid="{invitation.rawNews.uid}">
                <nci:spriteIconForRecord table="tx_news_domain_model_news" object="{invitation.news}" />
              </a>
            </td>
            <td class="t3-title-column">
              <f:if condition="{invitation.rawNews.pid} == {settings.eventsPid}">
                <f:then>
                  <a target="_blank" href="../index.php?id={settings.eventDetailPid}&tx_news_pi1[controller]=News&tx_news_pi1[action]=eventDetail&tx_news_pi1[news]={invitation.rawNews.uid}&no_cache=1">
                    {invitation.rawNews.title}
                  </a>
                </f:then>
                <f:else>
                  <a target="_blank" href="../index.php?id={settings.newsDetailPid}&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&tx_news_pi1[news]={invitation.rawNews.uid}&no_cache=1">
                    {invitation.rawNews.title}
                  </a>
                </f:else>
              </f:if>
            </td>
            <td>
              <table id="myinvitations-categorylist" class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th><f:translate key="tableInvitations.category" /></th>
                    <th><f:translate key="tableInvitations.status" /></th>
                    <th><f:translate key="tableInvitations.by" /></th>
                  </tr>
                </thead>
                <tbody>
                  <f:for each="{invitationsByNews}" as="invitationPerNews">
                    <tr>
                      <td>{invitationPerNews.category.title}</td>
                      <td>
                        <f:if condition="{invitationPerNews.status} == 1">
                          <f:translate key="tx_newscatinvite_domain_model_invitation.status.1" />
                        </f:if>
                        <f:if condition="{invitationPerNews.status} == -1">
                          <f:translate key="tx_newscatinvite_domain_model_invitation.status.-1" />
                        </f:if>
                        <f:if condition="{invitationPerNews.status} == 0">
                          <f:translate key="tx_newscatinvite_domain_model_invitation.status.0" />
                        </f:if>
                      </td>
                      <td>
                        <f:if condition="{invitation.approvingBeuser.realName}">
                          <f:then>
                            {invitation.approvingBeuser.realName}
                          </f:then>
                          <f:else>
                            {invitation.approvingBeuser.userName}
                          </f:else>
                        </f:if>
                      </td>
                    </tr>
                  </f:for>
                </tbody>
              </table>
            </td>


          </f:if>


        </f:for>
        </tr>
      </f:groupedFor>
    </tbody>
	</table>
</f:section>
