{namespace bu = TYPO3\CMS\Beuser\ViewHelpers}
{namespace nci = Visol\Newscatinvite\ViewHelpers}

<f:layout name="Module" />

<f:section name="Content">
  <f:be.pageRenderer includeCssFiles="{0: '{f:uri.resource(path: \'Stylesheets/backend.css\')}'}" includeJavaScriptModules="{0: '@typo3/backend/context-menu.js'}" />
	<f:flashMessages />

	<h1>{f:translate(key: 'submoduleArchiveTitle')}</h1>

	<f:groupedFor each="{invitations}" as="invitationsByCategory" groupBy="category" groupKey="category">
		<h2>{category.title}</h2>
		<f:render partial="Invitation/Table" arguments="{invitations: invitationsByCategory, settings: settings}" />
	</f:groupedFor>
</f:section>
