table.invitations td:nth-child(1) {
	width: 5%;
}

table.invitations td:nth-child(2) {
	width: 45%;
}

table.invitations td:nth-child(3) {
	width: 30%;
}

table.invitations td:nth-child(4) {
	width: 20%;
}

#myinvitations-categorylist {
	font-size: 10px;
}

#myinvitations-categorylist tr th {
	text-align: left;
	padding-left: 4px !important;
}
#myinvitations-categorylist tr td {
	padding: 0 0 0 4px;
}

#myinvitations-categorylist td:nth-child(1) {
	width: 40%;
}

#myinvitations-categorylist td:nth-child(2) {
	width: 20%;
}

#myinvitations-categorylist td:nth-child(3) {
	width: 30%;
}
