services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Visol\Newscatinvite\:
    resource: '../Classes/*'

  Visol\Newscatinvite\Command\InvitationSendCommand:
    tags:
      - name: 'console.command'
        command: 'invitation:sendInvitations'
        description: 'Send pending invitations'

  Visol\Newscatinvite\Persistence\InvitationUpdateTranslationSynchronizer:
    tags:
      - name: 'event.listener'
        identifier: 'InvitationUpdateTranslationSynchronizer'
        event: TYPO3\CMS\Extbase\Event\Persistence\EntityUpdatedInPersistenceEvent
  Visol\Newscatinvite\Persistence\InvitationDeleteTranslationSynchronizer:
    tags:
      - name: 'event.listener'
        identifier: 'InvitationDeleteTranslationSynchronizer'
        event: TYPO3\CMS\Extbase\Event\Persistence\EntityRemovedFromPersistenceEvent

  Visol\Newscatinvite\Controller\InvitationController:
    public: true

  Visol\Newscatinvite\Domain\Model\Invitation:
    public: true

  Visol\Newscatinvite\Update\TranslationUpdateWizard:
    public: true
